.Client_main{
    padding: 100px;
}
.heading_client{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.Client_para{
    color: orangered;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.icons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  gap: 100px;

}
.line_Client{
    height: 2px;
    background-color: black;
    margin-top: 100px;
}